In [2]:
import pandas as pd 
df = pd.read_csv('Iris.csv')

In [3]:
df.sample(10)

,Id,SepalLengthCm,SepalWidthCm,PetalLengthCm,PetalWidthCm,Species
144,145,6.7,3.3,5.7,2.5,Iris-virginica
124,125,6.7,3.3,5.7,2.1,Iris-virginica
113,114,5.7,2.5,5.0,2.0,Iris-virginica
81,82,5.5,2.4,3.7,1.0,Iris-versicolor
133,134,6.3,2.8,5.1,1.5,Iris-virginica
0,1,5.1,3.5,1.4,0.2,Iris-setosa
6,7,4.6,3.4,1.4,0.3,Iris-setosa
37,38,4.9,3.1,1.5,0.1,Iris-setosa
99,100,5.7,2.8,4.1,1.3,Iris-versicolor
147,148,6.5,3.0,5.2,2.0,Iris-virginica

In [7]:
import ssl
ssl._create_default_https_context = ssl._create_unverified_context
import seaborn
data = seaborn.load_dataset("iris")

In [8]:
data.sample(10)

     sepal_length  sepal_width  petal_length  petal_width     species
147           6.5          3.0           5.2          2.0   virginica
69            5.6          2.5           3.9          1.1  versicolor
86            6.7          3.1           4.7          1.5  versicolor
88            5.6          3.0           4.1          1.3  versicolor
64            5.6          2.9           3.6          1.3  versicolor
101           5.8          2.7           5.1          1.9   virginica
16            5.4          3.9           1.3          0.4      setosa
10            5.4          3.7           1.5          0.2      setosa
57            4.9          2.4           3.3          1.0  versicolor
105           7.6          3.0           6.6          2.1   virginica

In [12]:
data.to_csv('iris.csv', index=False)

In [11]:
ls

Iris.csv
PE_Data_structures_in_Python.ipynb
PE_Data_structures_in_Python_Solutions.ipynb
PE_Numpy.ipynb
PE_Numpy_Solutions.ipynb
PE_Pandas.ipynb
iris_sample.ipynb
mtcars.csv

In [13]:
data.shape

(150, 5)

In [32]:
sliced_data = data.iloc[10:21]
sliced_data = data.loc[10: 21,"sepal_length": "species"]

sliced_data

    sepal_length  sepal_width  petal_length  petal_width species
10           5.4          3.7           1.5          0.2  setosa
11           4.8          3.4           1.6          0.2  setosa
12           4.8          3.0           1.4          0.1  setosa
13           4.3          3.0           1.1          0.1  setosa
14           5.8          4.0           1.2          0.2  setosa
15           5.7          4.4           1.5          0.4  setosa
16           5.4          3.9           1.3          0.4  setosa
17           5.1          3.5           1.4          0.3  setosa
18           5.7          3.8           1.7          0.3  setosa
19           5.1          3.8           1.5          0.3  setosa
20           5.4          3.4           1.7          0.2  setosa
21           5.1          3.7           1.5          0.4  setosa

In [34]:
specific_data = data.loc[10: 21, ["sepal_length", "species"]]
specific_data

    sepal_length species
10           5.4  setosa
11           4.8  setosa
12           4.8  setosa
13           4.3  setosa
14           5.8  setosa
15           5.7  setosa
16           5.4  setosa
17           5.1  setosa
18           5.7  setosa
19           5.1  setosa
20           5.4  setosa
21           5.1  setosa

In [50]:
no_of_speciees = specific_data["species"].value_counts()
len(no_of_speciees)

1

In [51]:
data.columns

Index(['sepal_length', 'sepal_width', 'petal_length', 'petal_width',
       'species'],
      dtype='object')

In [61]:
sepal_len_data = data["sepal_length"]
print("sum: {}, mean:{}, median:{}, mode:{}".format(
    sepal_len_data.sum(),
    sepal_len_data.mean(), sepal_len_data.median(), sepal_len_data.mode()))

sum: 876.5, mean:5.843333333333334, median:5.8, mode:0    5.0
dtype: float64

In [56]:
data["species"].unique()

array(['setosa', 'versicolor', 'virginica'], dtype=object)

In [75]:
sepla_len_df = data.loc[data["species"] == "setosa"]["sepal_length"]

print("sum: {}, mean:{:.3f}, median:{}, mode:{} ====".format(
    sepla_len_df.sum(),
    sepla_len_df.mean(), sepla_len_df.median(), 
    sepla_len_df.mode()))

sum: 250.3, mean:5.006, median:5.0, mode:0    5.0
1    5.1
dtype: float64 ====